{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="{{ path('main_index') }}">Личный кабинет</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Моя корзина</a>
                    </li>
                </ul>
                    <a href="{{ path('fos_user_security_logout') }}" class="btn btn-primary ml-2">Завершить сеанс</a>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

{% endblock %}