{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
    {% endif %}

    <div class="form-group">
        <label for="username">{{ 'security.login.username'|trans }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"
               autocomplete="username" class="form-control"/>
    </div>

    <div class="form-group">
        <label for="password">{{ 'security.login.password'|trans }}</label>
        <input type="password" id="password" name="_password" required="required" autocomplete="current-password"
               class="form-control"/>
    </div>

    <div class="custom-control custom-checkbox">
        <input type="checkbox" id="remember_me" class="custom-control-input" name="_remember_me" value="on">
        <label class="custom-control-label" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    </div>

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"
           class="btn btn-primary mt-2"/>

    <div id="uLogin" class="mt-4"
         data-ulogin="display=panel;theme=classic;fields=first_name,last_name;providers=vkontakte,facebook;redirect_uri={{ path('security_social_login_social') }};mobilebuttons=0;"></div>
</form>
