{% extends 'layout.html.twig' %}

{% block title %}Контакты{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-4">Контакты</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur assumenda at beatae
            consectetur dolor dolore dolorem doloremque eligendi harum, in ipsam nihil officia perferendis placeat quasi
            quibusdam quisquam ratione reiciendis repudiandae rerum tempore vel voluptatem? Animi architecto eveniet
            maxime!</p>
    </div>
{% endblock %}