{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
<div>
    <input type="submit" class="btn btn-primary mt-2" value="{{ 'registration.submit'|trans }}"/>
</div>

<div id="uLogin" class="mt-4"
     data-ulogin="display=panel;theme=classic;fields=first_name,last_name;providers=vkontakte,facebook;redirect_uri={{ path('security_social_register_social_start') }};mobilebuttons=0;optional=email"></div>
{{ form_end(form) }}
