<p>Последние изменения цен</p>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Дата</th>
        <th scope="col">Цена (сомов)</th>
    </tr>
    </thead>
    <tbody>
    {% for price in productPrices %}
        <tr>
            <td>{{ price.createdAt|date('d/m/Y') }}</td>
            <td>{{ price.amount|number_format }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>