{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <div>
        <img src="{{ object.imageUrl ?: asset('images/no-image.png') }}" alt="{{ object.title }}" style="width: 80px;">
    </div>
{% endblock %}