{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <div>
        <img src="{% if vich_uploader_asset(object, 'imageFile') %}
                                {{ vich_uploader_asset(object, 'imageFile') }}
                             {% else %}
                                {{ asset('images/no-image.png') }}
                             {% endif %}" alt="{{ object.title }}" style="width: 80px;">
    </div>
{% endblock %}