{% extends 'layout.html.twig' %}

{% block title %}{{ category.title }}{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-4">Категория: {{ category.title }}</h1>
        <div id="productsBlock">{{ include('product/components/products_block.html.twig') }}</div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        let urlAjax = '{{ path('product_category_ajax', {id: category.id}) }}';
        let url = '{{ path('product_category', {id: category.id}) }}';

        $.getScript('{{ asset('js/ajax_pagination.js') }}', function () {
            console.log("Pagination was loaded");
        });
    </script>
{% endblock %}