{% extends 'layout.html.twig' %}

{% block title %}{{ product.title }}{% endblock %}

{% block content %}
    <div class="container">
        <h4 class="mt-4">{{ product.title }}</h4>

        <img src="{% if vich_uploader_asset(product, 'imageFile') %}
                                {{ vich_uploader_asset(product, 'imageFile') }}
                             {% elseif product.imageUrl %}
                                {{ product.imageUrl }}
                             {% else %}
                                {{ asset('images/no-image.png') }}
                             {% endif %}"
             alt="{{ product.title }}" style="width: 500px;">
        <p><strong>Описание: </strong>{{ product.description }}</p>
        <p><strong>Цена: </strong>
            {% if price %}
                {% if price['discount_amount'] %}
                    <del>{{ price['amount']|number_format(0) }}</del>
                    <span class="text-success">{{ price['discount_amount']|number_format(0) }}</span>
                {% else %}
                    {{ price['amount']|number_format(0) }}
                {% endif %}
                сомов <span class="small">(дата изменения: {{ price['created_at']|date('d/m/Y') }})</span>
            {% else %}
                не указано
            {% endif %}
        </p>
        <a href="{{ path('product_index') }}">< На главную</a>
    </div>
{% endblock %}