{% extends 'layout.html.twig' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-4">Товара наших партнеров</h1>
        <div id="productsBlock">{{ include('product/components/products_block.html.twig') }}</div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        let urlAjax = '{{ path('product_partner_update_ajax') }}';
        let url = '{{ path('product_show_partner') }}';

        $.getScript('{{ asset('js/ajax_pagination.js') }}', function () {
            console.log("Pagination was loaded");
        });
    </script>
{% endblock %}