{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <div class="container">
            <a class="navbar-brand" href="{{ path('product_index') }}">Catalog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {{ app.request.attributes.get('_route') == 'product_index' ? 'active' }}">
                        <a class="nav-link" href="{{ path('product_index') }}">Главная</a>
                    </li>
                    <li class="nav-item {{ app.request.attributes.get('_route') == 'page_about' ? 'active' }}">
                        <a class="nav-link" href="{{ path('page_about') }}">О нас</a>
                    </li>
                    <li class="nav-item {{ app.request.attributes.get('_route') == 'product_show_partner' ? 'active' }}">
                        <a class="nav-link" href="{{ path('product_show_partner') }}">Партнерские товары</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {{ app.request.attributes.get('_route') == 'product_category' ? 'active' }}"
                           href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Каталог товаров
                        </a>
                        {{ render(controller('App\\Controller\\WidgetController::getCategories')) }}
                    </li>
                    <li class="nav-item {{ app.request.attributes.get('_route') == 'page_contact' ? 'active' }}">
                        <a class="nav-link" href="{{ path('page_contact') }}">Контакты</a>
                    </li>
                </ul>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('sonata_admin_dashboard') }}" class="btn btn-warning">Админка</a>
                    <a href="{{ path('fos_user_security_logout') }}" class="btn btn-primary ml-2">Завершить сеанс</a>
                {% elseif is_granted('ROLE_USER') %}
                    <a href="{{ path('profile_main_index') }}" class="btn btn-warning">Личный кабинет</a>
                    <a href="{{ path('fos_user_security_logout') }}" class="btn btn-primary ml-2">Завершить сеанс</a>
                {% else %}
                    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-warning mr-2">Регистрация</a>
                    <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary">Войти</a>
                {% endif %}

            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

{% endblock %}