<div class="navigation mt-4">
    {{ knp_pagination_render(pagination) }}
</div>

{% for row in pagination|batch(3) %}
    <div class="row">
        {% for product in row %}
            <div class="col-md-4">
                <div class="card mt-4">
                    <a href="{{ path('product_show', {id: product.id}) }}">
                        <img class="card-img-top"
                             src="{% if vich_uploader_asset(product, 'imageFile') %}
                                {{ vich_uploader_asset(product, 'imageFile') }}
                             {% elseif product.imageUrl %}
                                {{ product.imageUrl }}
                             {% else %}
                                {{ asset('images/no-image.png') }}
                             {% endif %}"
                             alt="{{ product.title }}" style="height: 200px;">
                    </a>

                    <div class="card-body">
                        <p class="card-text">{{ product.title|truncate(60) }}</p>
                        <hr>
                        <p class="card-text"><strong>Описание: </strong>{{ product.description }}</p>
                        <p class="card-text"><strong>Цена: </strong>
                            {% if prices[product.id] is defined %}
                                {% if prices[product.id]['discount_amount'] %}
                                    <del>{{ prices[product.id]['amount']|number_format(0) }}</del>
                                    <span class="text-success">{{ prices[product.id]['discount_amount']|number_format(0) }}</span>
                                {% else %}
                                    {{ prices[product.id]['amount']|number_format(0) }}
                                {% endif %}
                            {% else %}
                                ---
                            {% endif %}
                            сомов
                        </p>
                        {% for category in product.categories %}
                            <span class="badge badge-warning">{{ category.title }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}

<div class="navigation mt-4">
    {{ knp_pagination_render(pagination) }}
</div>