<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    {% for category in categories %}
        <a class="dropdown-item" href="{{ path('product_category', {id: category.id}) }}">{{ category.title }}</a>
    {% endfor %}
</div>