{% extends 'layout.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <div class="container">
        <h1>Регистрация</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}